@media screen and (max-width: 1700px){
    .nutshell-info{padding: 40px 12px;    padding-top: 131px;}
    .sec-standout .feedback-box{padding: 50px 45px 40px;}
    .sec-standout .work-box-img{width: 145px;height: 145px;}


    .join-section .container-sm{padding:0}
    
}/*1600*/

@media screen and (max-width: 1500px){
    .join-section .form-sec-wrapper .form-box{padding-left:70px}

    .join-section .form-sec-wrapper .form-r-box{padding-right:40px}
    .join-section .form-sec-wrapper{padding:40px 0}
    
}/* EXTRA IF REQUIRED*/

@media screen and (max-width: 1400px){
    p {font-size: 15px;}
    .container-sm{width: 90%;}
    .nutshell-img img{width: 190px;}
    .sec-apply .apply-box .btn,.header .right-box .btn, .sec-nutshell .button-box .btn{    font-size: 32px;    padding: 6px 25px;}
    .sec-standout .feedback-box{margin: 0 25px;padding: 45px 40px 30px;}
    .sec-standout .counter-text{font-size: 70px;line-height: 1.2;}
    .hero-text-strip h1{font-size: 63px;}
    .sec-standout .work-box-txt,.sec-nutshell .nutshell-note-box p,.hero-text-strip h2{font-size: 22px;}
    .sec-head,.sec-nutshell .nutshell-note-box h2{font-size: 42px;}
    .sec-nutshell .nutshell-note-box{padding: 0 20%;}
    .sec-standout .work-box-img {width: 130px;height: 130px;margin-bottom: 35px;}
    .sec-standout .work-box-img img{width: 110px;left: 10px;}
    .sec-standout .num-txt-info{font-size: 21px;}
    .sec-apply::before{background-size: 100px;height: 44px; top: -5%;}
    .footer::before{background-size: 100px;height: 65px;top: -19%;}
    .sec-standout .counter-text {font-size: 62px;}
    .sec-standout .num-box::after{width: 115px;height: 115px;}
    .sec-about::after{background-size: 100px;height: 44px; bottom: -5%;}
    .sec-standout .feedback-box{padding: 30px 40px 30px;}
    


    
}/*1366*/

@media screen and (max-width: 1300px){
    .nutshell-img img {width: 170px;}
    .nutshell-info {padding: 20px;padding-top: 125px;}
    .hero-text-strip h1 {font-size: 55px;}
    .sec-standout .work-box-txt, .sec-nutshell .nutshell-note-box p, .hero-text-strip h2 {font-size: 20px;}
    .join-section .form-sec-wrapper .form-box {
        padding-left: 45px;
    }
    .join-section .form-sec-wrapper {
        padding: 31px 0;
    }
    .join-section p{font-size:20px}
    .join-section .form-sec-wrapper .form-box .input-box label{font-size:15px}
    .join-section .form-sec-wrapper .form-box .note-txt{font-size: 15px}
    .join-section .form-sec-wrapper .form-box .btn{font-size: 32px;}
}/*1280*/


@media screen and (max-width: 1279px){
    
    
}/*1024*/

@media screen and (max-width: 1023px){


}/*768*/

@media screen and (max-width: 767px){


}/*360*/

@media screen and (max-width: 500px){


}/* EXTRA IF REQUIRED*/